body {
	background-color: black;
}

.App {
	position: relative;
	text-align: center;
	color: white;
	background-color: black;
}

button {
	font-family: inherit;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	color: white;
	background-color: transparent;
	z-index: 1;
}

.score {
	position: fixed;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	font-size: 20vh;
}

.high-score {
	position: fixed;
	top: 85%;
	left: 50%;
	transform: translate(-50%);
	font-size: 3vh;
	z-index: 1;
}

.current-score {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	font-size: 3vh;
	z-index: 1;
}

.high-score-name {
	position: fixed;
	top: 75%;
	left: 50%;
	transform: translate(-50%);
	font-size: 3vh;
	z-index: 1;
}

.game-over {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10vh;
	z-index: 1;
}

.test {
	font-family: inherit;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	color: white;
	background-color: transparent;
}

.help-button {
	position: fixed;
	top: 5%;
	left: 20%;
	z-index: 10;
}

.test-button {
	position: fixed;
	top: 5%;
	left: 50%;
	z-index: 10;
}

.restart-button {
	position: fixed;
	top: 5%;
	left: 85%;
	z-index: 10;
}

.help-text {
	position: relative;
	background-color: black;
	z-index: 5;
	color: white;
	margin: 13% 7% 0% 7%;
	height: 80vh;
}

.how-to {
	position: relative;
	z-index: 10;
	height: 100vh;
	background-color: black;
}

.new-highscore {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 1;
}

.submit-button {
	background-color: transparent;
	font-family: inherit;
	color: white;
	border: transparent;
	margin-left: 15px;
}

.input-form {
	font-family: inherit;
	text-align: center;
	width: 100px;
}

.blinking {
	animation: blink 1s linear infinite;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
